.home-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: linen;
  padding: 20px;
}
.personal-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50px;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-weight: 800;
}
/* .name-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
} */
